@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.tag_line{
    margin-left: 38px;
    margin-top: 24px;
    color:#8A8A8A;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.lr{
    display: flex;
}

.rf{
    margin-left: 118px;
    margin-top: 30px;
}