

.pf{
    margin-top: 25px;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: bolder;
    
}
.cd{
    display: flex;
    font-size: 19px;
}

.cm{
   font-size: 19px;
    padding-left: 80px;
}
.sh{
    font-size: 19px;
}
#whatsapp{
  color:#79BA7E;
  text-Decoration:underline;
}

#Instagram{
    color:#FF7945;
    text-Decoration: underline;
}

